.project__item{
	height: 100vh;
	position: relative;
	margin-bottom: 25vh;
	.content{
		position: fixed;
		bottom: 20px;
		left: 20px;
		text-align: left;
		font-family: "unbounded";
		color: #FFF;
		h2{
			font-size: 60px;
			max-width: 50vw;
		}
		h4{

		}
		.char{
			--wght: 900;
			opacity: 0;
			// font-weight: 900;
			// font-variation-settings: 'wght' var(--wght);;
		}
		.line{
			word-wrap: no-wrap;
			white-space: nowrap;
		}
	}
}