.project__item{
	// height: 100vh;
	position: relative;
	// pointer-events: none;
	
	.content{
		// position: fixed;
		bottom: 20px;
		left: 20px;
		text-align: left;
		font-family: "unbounded";
		color: #FFF;
		will-change:transform;

		a{
			text-decoration: none;
			color: white;
		}
		h2{
			font-size: 120px;
			z-index: 100;
			// max-width: min(60vw, 650px);
			margin-bottom: 10px;
			opacity: 1;
			color: red;
			text-align: center;
			@media screen and (max-width: 400px) {
				max-width: 300px;
				margin-bottom: 10px;
				font-size: 40px;
			}
		}
		h4{
			font-size: 16px;
			display: none;
		}
		.char{
			--wght: 900;
			// opacity: 0;
			// font-weight: 900;
			// font-variation-settings: 'wght' var(--wght);;
		}
		.line{
			.word{
				word-wrap: no-wrap;
				white-space: nowrap;
			}
		}
	}
}