.project__item{
	height: 100vh;
	position: relative;
	margin-bottom: 25vh;
	pointer-events: none;
	.content{
		position: fixed;
		bottom: 20px;
		left: 20px;
		text-align: left;
		font-family: "unbounded";
		color: #FFF;
		h2{
			font-size: 60px;
			max-width: min(60vw, 650px);
			margin-bottom: 20px;
			@media screen and (max-width: 400px) {
				max-width: 300px;
				margin-bottom: 10px;
				font-size: 40px;
			}
		}
		h4{
			font-size: 16px;
		}
		.char{
			--wght: 900;
			opacity: 0;
			// font-weight: 900;
			// font-variation-settings: 'wght' var(--wght);;
		}
		.line{
			.word{
				word-wrap: no-wrap;
				white-space: nowrap;
			}
		}
	}
}